.warning_hint {
  display: none;
  align-items: flex-start;
  gap: 8px;
  padding: 16px;
  background-color: var(--error-color-light);
  border-radius: 4px;
  border: 1px solid var(--error-color);
  margin-bottom: 16px;

  &.warning_hint--error {
    display: flex;
  }
}
