@import url("../../global.css");

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 12px;
  border: 1px solid var(--gray-color);
  background-color: white;
  border-radius: 4px;
  position: relative;
  outline: none;

  &:has(.field_input:focus),
  &:has(.field_input:not(:placeholder-shown)) {
    padding: 22px 12px 10px;
  }

  &:has(.field_input:focus) {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color-light);
  }
}

.field_label {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-color);
  position: absolute;
  top: 16px;
  left: 12px;
  transition: all 0.3s;
  line-height: 1.2;

  &:has(+ .field_input:focus),
  &:has(+ .field_input:not(:placeholder-shown)) {
    top: 8px;
    font-size: 10px;
  }
}

.field_input {
  min-width: 166px;
  font-size: 14px;
  color: black;
  outline: none;
  border: none;
  background-color: transparent;
  transition: all 0.3s;
  padding: 0;

  &[name="password"] {
    padding-right: 30px;
  }
}

.field_icon {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}