.signup_form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  width: 100%;

  > .button {
    width: 100%;
    margin-top: 8px;
  }
}

.signup_form_field_group {
  display: flex;
  gap: 20px;
}

.signup_form_field_group form-field {
  width: 100%;
}
