:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #3C71FF;
  --primary-color-light: #F1F5FF;
  --gray-color: #757575;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary-color-light);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.login_button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 16px 12px;
  font-size: 16px;
  font-family: inherit;
  background-color: var(--primary-color);
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0px 6px 15px 0px #3C71FF66;
  }

  &:focus {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.login_button--outline {
  background-color: #ffffff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);

  &:hover {
    background-color: var(--primary-color);
    color: #ffffff;
    box-shadow: 0px 6px 15px 0px #3C71FF66;
  }
}
