:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #3c71ff;
  --primary-color-light: #f1f5ff;
  --gray-color: #757575;
  --gray-color-light: #ababab;
  --error-color: #D71920;
  --error-color-light: #F5C4C6;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #ffffff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.page_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--primary-color-light);
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 16px 12px;
  font-size: 14px;
  font-family: inherit;
  background-color: var(--primary-color);
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    color: #ffffff;
    box-shadow: 0px 6px 15px 0px #3c71ff66;
  }

  &:focus {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &:disabled {
    opacity: 0.5;
    background-color: var(--gray-color-light);
    cursor: not-allowed;
  }
}

.button--outline {
  background-color: #ffffff;
  color: black;
  border: 1px solid var(--primary-color);

  &:hover {
    background-color: var(--primary-color);
    color: #ffffff;
    box-shadow: 0px 6px 15px 0px #3c71ff66;
  }

  &:disabled {
    opacity: 0.5;
    background-color: var(--gray-color-light);
    cursor: not-allowed;
  }
}
